body, html{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    font-family: "Roboto";
}
.body-no-scroll{
    overflow: hidden;
    position: fixed;
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


h1 {
    color: white;

}

h2 {
    text-align: center;
}

hr {
    border-bottom: 1px solid white;
}

.anchor{
    color: white;
    font-family: 'Aclonica';
}
.welcome-to-passflare{
    margin-top: 10px;
    margin-bottom: 10px;
}
.title{
    margin: auto;
    margin-top: 12rem;
    margin-bottom: 5rem;
    font-weight: normal;
    font-size: 40px;
    font-family: 'Aclonica';
}

.smallTitle {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.eventTitle {
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 0px;
}

.eventRow {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    
}

.eventDisplay {
    margin: 10px;
    margin-left: 5%;
    width: 90%;
    float: left;
    min-height: 100px;
    overflow-x: scroll;
    white-space: nowrap;
}

.eventCard {
    display: inline-block;
    margin: 10px;
    width: 120px;
    height: auto;
    text-align: center;
    font-size: 12px;
    font-family: 'Aclonica';
    background-color: #121212;
    border-radius: 5%;
}

.eventDisplay > a {
    color: white;
    
}

.eventCardImage {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    white-space: pre-wrap;
}

.eventCardName {
    margin-bottom: 10px;
}

.eventCardTime {
    margin-bottom: 10px;
    font-size: 10px;
}

.eventCardDate {
    margin-bottom: 10px;
}

#gateKeeperTitle{
    margin-top: 15rem;
}

#subtitle{
    margin-bottom: 6em;
    font-family: 'Abel';
    margin-top: -5.6em;
    margin-left: 4.3em;
    font-weight: normal;
}

.navBar{
    padding-left: 0rem;
    margin-left: 0rem
}

.userNav {
    margin: 0;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 50px;
    border-bottom: 1px solid rgba(252,163,18,1);
}

.userNav > h1 {
    position: absolute;
    height: auto;
    left: 10px;
    top: 30px;
    margin: 0px;
    transform: translateY(-50%);
}

.userNav > .dropdown{
    position: absolute;
    top: 25px;
    height: auto;
    width: auto;
    right: 10px;
    transform: translateY(-50%);
}

.userNav > .dropdown > button {
    padding: 0px 4px;
}

.userNav > .dropdown > .dropdown-menu {
    background-color: #252525;
    border: 1px solid white;
}

.userNav > .dropdown > .dropdown-menu > a > a {
    color: white !important;
    text-decoration: none !important;
}



.logo{
    width: 7%;
    margin-bottom: 0.4rem;
    margin-right: -0.4rem;
}

.col-md-12{
    display: flex;
    align-items: center;
    justify-content: center;
}

.passTicket{

    background: -webkit-gradient(linear, left top, right top, from(rgba(252,163,18,1) ), to(rgba(255,0,0,1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


form>p {
    text-align: center;
}

/*input[type=text], input[type=email], input[type=tel], input[type=password]*/
/*Had to replace the above with the below since using the above seems to always override other css*/
.defaultText, .defaultEmail, .defaultTel, .defaultPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 13rem;
    height: 1.8em;
    font-size: 16px;
    color: white;
    padding-left: 1rem;
    background-color: #121212;
    border-radius: 1rem;
    border: 1px solid #c9c9c9;
}

.eventInput  {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #261359;
    background-color: rgba(252,163,18,1);
    background-clip: padding-box;
    border: 1px solid rgba(255,0,0,1);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.eventInput:focus{
    background-color: rgb(252, 184, 74);
    color: #261359;
}

.eventInput:-webkit-autofill {
    background-color: rgb(252, 184, 74) !important;
}

.input-group-text {
    background-color: rgba(255,0,0,1);
    color: #261359;
    border: 1px solid rgba(255,0,0,1);
    font-weight: bold;
    font-size: 1.25rem;
}

#file-upload-button {
    background-color: rgba(255,0,0,1);
    color: #261359;
    border: 1px solid rgba(255,0,0,1);
}

input[type=number]{
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    font-size: 1.5em;
    border: 0em;
    width: 2em;
    margin: 0.2em;
}

input:focus{ 
    outline: none;
}

#emailPhone{
    margin-top: -0.2em;
}

.or{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#disclaimer {
    color:grey;
    font-family: "Segoe UI","Helvetica Neue", "Arial";
    font-size: 0.8em;
}

.btn-dark{
    color:white;
    background-color: #1a1a1a;
}

.darkCard{
    background-color: #1a1a1a;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
.passflareTextGradient{
    background: -webkit-gradient(linear, left top, right top, from(rgba(252,163,18,1) ), to(rgba(255,0,0,1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.darkCardWide{
    background-color: #1a1a1a;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 25rem;
}

.passBtn{
    display:flex;
    padding: 0.6em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: .75rem;
    margin:auto;
    margin-bottom: 0em;
    background-color: #1a1a1a;
    font-size: 14px;
    line-height: 1rem;
}

.passBtnDark{
    display:flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 1rem;
    margin:auto;
    margin-bottom: 0em;
    background-color: #0a0a0a;
}

.passBtnNext{
    display:flex;
    padding: 0.6em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: .75rem;
    margin-bottom: 0em;
    line-height: 1rem;
    cursor: pointer;
}
.create-account-btn{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}
.create-account-btn:hover{
    color: grey;
}
.eventImg{
    width: 20em;
    height: 20em;
}

.list-group-item {
    background-color: #1a1a1a;
    border-color:#c9c9c9;
}

#userViewBottom{
    margin-bottom: 5rem;
}

.backArrow {
    color: white;
    text-align: left;
}

.backArrow>i:hover{
    color: orange;
}

#adminBrand{
    color: white;
}

#adminBrand:hover{
    color: orange;
}

#brandBreak{
    font-size: 0.8em;
    position: relative;
    bottom: 0.2em;
    color: #666666;
}

#adminLogo{
    font-size: 0.7em;
    font-style: normal;
}

#adminChoices>a{
    color: white;
}

#adminChoices>a:hover{
    color: orange;
}

.navbar-toggler{
    background-color:#6b6b6b;
    position: relative;
    bottom: 0.2em;
}

.paymenth2{
    margin-top: 50px 20px;
}
.FormGroup {
	margin: 200px 15px 20px;
	padding: 0;
	border-style: none;
	background-color: rgba(252,163,18,1);
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(252,163,18,1);
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid rgba(252,163,18,1);
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.PayButton {
	display: block;
	font-size: 16px;
	width: calc(100% - 100px);
	height: 40px;
	margin: 40px 50px 0;
	background-color: rgba(255,0,0,1);
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255,0,0,1);
	border-radius: 4px;
	color: #261359;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
}

.PayButton:active {
	background-color: rgba(255,0,0,1);
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255,0,0,1);
	transform: scale(0.99);
}
/*Gatekeeper*/
#top-buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}
/*Gatekeeper*/
