body, html{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    font-family: "Roboto";
}
.body-no-scroll{
    overflow: hidden;
    position: fixed;
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


h1 {
    color: white;

}

h2 {
    text-align: center;
}

hr {
    border-bottom: 1px solid white;
}

.anchor{
    color: white;
    font-family: 'Aclonica';
}
.welcome-to-passflare{
    margin-top: 10px;
    margin-bottom: 10px;
}
.title{
    margin: auto;
    margin-top: 12rem;
    margin-bottom: 5rem;
    font-weight: normal;
    font-size: 40px;
    font-family: 'Aclonica';
}

.smallTitle {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.eventTitle {
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 0px;
}

.eventRow {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    
}

.eventDisplay {
    margin: 10px;
    margin-left: 5%;
    width: 90%;
    float: left;
    min-height: 100px;
    overflow-x: scroll;
    white-space: nowrap;
}

.eventCard {
    display: inline-block;
    margin: 10px;
    width: 120px;
    height: auto;
    font-size: 12px;
    font-family: 'Roboto';
    background-color: #121212;
    border-radius: 5%;
    padding: 10px 10px 0px 10px;
}

.eventDisplay > a {
    color: white;
    
}

.eventCardImage {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0px;
    border-radius: 10px;
    background-color: white;
    white-space: pre-wrap;
    overflow: hidden;
}

.eventCardImage > img{
    position: absolute;
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.eventCardName {
    font-size: 14px;
    margin: 10px 0px;
    padding: 0px 10px;
}

.eventCardTime {
    margin-bottom: 10px;
    font-size: 12px;
}

.eventCardDate {
    margin-bottom: 10px;
}

.eventContainer {
    padding: 0px;
}


.eventImageContainer {
    margin: 4px -8px;
}

.eventImageContainer {
    height: 30vh;
    border: 1px solid white;
}

.eventImageContainer > .imgGreaterHeight{
    height: 100%;
    width: auto;
}

.eventImageContainer > .imgGreaterWidth{
    height: auto;
    width: 100%;
}

.eventTitleContainer {
    padding: 20px 0px 20px 20px;
}

.eventTitle {
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
}

.eventTimeContiner {
    padding: 0px 20px;
}

.eventTime {
    font-size: 0.85em;
    margin: 0px;
    text-align: right;
}

.eventDate {
    font-size: 0.85em;
    margin: 0px;
    text-align: right;
}

.ticketOpContainer {
    margin: 0px;
    padding: 0px 20px 20px 20px;
}

.btnBuyTicketContainer {
    text-decoration: none;
}

.btnBuyTicket {
    border-radius: .75rem;
    border: 1px solid rgba(252,163,18,1);
}

.eventqrcode {
    padding: 0px;
}

.btnShowTicket {
    width: 50vw;
    height: 12vw;
    margin: 0px;
    border-radius: .75rem;
    border: 1px solid rgba(252,163,18,1);
}

.btnHideTicket {
    width: 50vw;
    height: 12vw;
    margin-top: 20px;
    border-radius: .75rem;
    border: 1px solid rgba(252,163,18,1);
}

.eventDesc {
    font-size: 12px;
}


.paymentPageContainer {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
}

.paymentEventTitleContainer {
    position: absolute;
    width: 100%;
    top: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}

.backArrowContainer {
    padding: 0px;
    width: auto;
}

.backArrow {
    padding: 0px;
    margin: 0px;
    width: auto;
    font-size: 20px;
}

.paymentEventTitleTextContainer {
    padding: 0px 0px 0px 20px;
}

.paymentEventTitleText {
    font-size: 8vw;
    padding: 0px;
    margin: 0px;
    line-height: 95%;
    width: auto;
}

.cardInfoContainer {
    margin: 0px;
    margin-top: 90%;
    padding: 0px;
    width: 100%;
}

.cardInfoTitle {
    padding: 0px;
    margin-bottom: 8px;
}

.cardInfoForm {
    margin: 0px;
    padding: 0px;
}

.cardInfo {
    margin: 0px;
    padding: 0;
    border: 1px solid #c9c9c9;
	background-color: #121212;
	will-change: opacity, transform;
	border-radius: 6px;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 10px;
}

.cardInfoText {
    color: white;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin: 0px;
}

.PayButton {
	display: block;
	font-size: 16px;
	width: 150px;
	height: 40px;
	margin: 20px 0 0 calc(50% - 75px);
	border-radius: 6px;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: 1px solid rgba(252,163,18,1);
}

#gateKeeperTitle{
    margin-top: 15rem;
}

#subtitle{
    margin-bottom: 6em;
    font-family: 'Abel';
    margin-top: -5.6em;
    margin-left: 4.3em;
    font-weight: normal;
}

.navBar{
    padding-left: 0rem;
    margin-left: 0rem
}

.userNav {
    margin: 0;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 50px;
    border-bottom: 1px solid rgba(252,163,18,1);
}

.userNav > h1 {
    position: absolute;
    height: auto;
    left: 10px;
    top: 30px;
    margin: 0px;
    transform: translateY(-50%);
}

.userNav > .dropdown{
    position: absolute;
    top: 25px;
    height: auto;
    width: auto;
    right: 10px;
    transform: translateY(-50%);
}

.userNav > .dropdown > button {
    padding: 0px 4px;
}

.userNav > .dropdown > .dropdown-menu {
    background-color: #252525;
    border: 1px solid white;
}

.userNav > .dropdown > .dropdown-menu > a > a {
    color: white !important;
    text-decoration: none !important;
}



.adminNavbar {
    padding: 0px;
    height: 75px;
}

.adminNavContainer {
    padding: 0px;
    height: 75px;
    margin-bottom: 20px;
}

.adminBrandContainer {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

.adminBrand {
    margin: 0px;
    padding: 0px;
}

.adminBrandTextContainer {
    padding: 0px;
    margin: 0px;
}

.adminBrandLogoContainer {
    padding: 0px;
    margin: 0px;
    margin-right: 3px;
}

.adminNavPassTicket {
    font-size: 40px;
}

.adminBrandPassflareTextContainer {
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    font-family: 'Aclonica';
}

.adminBrandPassflareText{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 40px;
    line-height: 40px;
}

.adminBrandAdminTextContainer {
    padding: 0px;
    margin: 0px;
}

.adminBrandPassAdminText {
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #6b6b6b;
    font-size: 25px;
}

.adminChoicesContainer {
    margin: 0px;
    display: flex;
    flex-grow: 2;
    padding-right: 20px;
}

.adminChoices {
    font-size: 20px;
}

.adminChoices > a{
    margin: 0px;
    color: white;
    text-decoration: none;
}

.adminChoices > a:hover{
    color: orange;
}

.form-select {
    color: white !important;
    border: none !important;
    margin-bottom: 3px;
}

.event-graph-container {
    color: white !important;
    fill: white !important;
    padding: 5px;
}

.event-graph-container > div > svg > .rv-xy-plot__grid-lines {
    stroke: rgba(255, 255, 255, 0.5);
}

.event-graph-container > div > svg > path[style] {
    stroke: rgb(255, 124, 37) !important;
}

.eventCreationContainer {
    border: 1px solid white;
    padding: 16px 20px;
    margin: 0px;
}

.eventCreationContainer > .row {
    margin: 0px;
    padding: 0px;
}

.createEventFormContainer {
    padding: 0px;
}

.createEventFormContainer > form > .form-group > .row {
    padding: 0px;
    margin: 0px;
}

.createEventFormContainer > form > .form-group > .row > .form-label {
    font-size: 18px;
    padding: 0px;
    margin-bottom: 5px;
}

.createEventFormContainer > form > .form-group > .row > .col > .form-label {
    font-size: 18px;
    padding: 0px;
    margin-bottom: 5px;
}

.createEventFormContainer > form > .form-group > .row > .form-control {
    color: white;
    background-color: #121212;
}

.createEventFormContainer > form > .form-group > .row > .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.createEventFormContainer > form > .form-group > .row > .col > .form-control {
    color: white;
    background-color: #121212;
}

.createEventFormContainer > form > .form-group > .row > .col > .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.createEventFormContainer > form > .form-group > .row > .col {
    padding: 0px;
}

.eventCreationDescBox {
    min-height: 3em;
}

.eventCreationPriceInput > span {
    background-color: black;
    color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

.eventCreationPriceInput > input {
    background-color: #121212;
    color: white;
}

.eventCreationPriceInput > input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.eventCreationStartInput {
    margin: 0px 10px;
}

.eventCreationImageInput {
    padding: 0px;
}

.eventCreationImageInput::file-selector-button {
    color: white;
    background-color: #121212;
    border: 1px solid rgb(255, 124, 37);
    margin-right: 10px;
    border-radius: 0.5em;
}

.btneventCreation {
    width: 200px;
    color: white;
    background-color: #121212;
    border-radius: 0.5em;
    border: 1px solid rgb(255, 124, 37);
}

.eventDataContainer {
    border: 1px solid rgb(255, 124, 37);
    padding: 5px 0px;
    margin-left: 20px;
}

.adminEventDataRowKey {
    padding: 0px;
    margin: 0px;
}

.adminEventDataRowKey > .col {
    margin: 0px;
    padding: 5px 10px;
    border-left: 1px solid white;
}

.adminEventDataRowKey > .col > p {
    margin: 0px;
}

.adminEventDataRow {
    padding: 0px;
    margin: 0px;
}

.adminEventDataRow > .col {
    margin: 0px;
    padding: 5px 10px;
    border-left: 1px solid white;
}

.adminEventDataRow > .col > p {
    margin: 0px;
}



.navbar-toggler{
    background-color:#6b6b6b;
    position: relative;
    bottom: 0.2em;
}

.logo{
    width: 7%;
    margin-bottom: 0.4rem;
    margin-right: -0.4rem;
}

.col-md-12{
    display: flex;
    align-items: center;
    justify-content: center;
}

.passTicket{

    background: -webkit-gradient(linear, left top, right top, from(rgba(252,163,18,1) ), to(rgba(255,0,0,1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


form>p {
    text-align: center;
}

/*input[type=text], input[type=email], input[type=tel], input[type=password]*/
/*Had to replace the above with the below since using the above seems to always override other css*/
.defaultText, .defaultEmail, .defaultTel, .defaultPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 1.8em;
    font-size: 16px;
    color: white;
    background-color: #121212;
    border-radius: 0.5em;
    border: 1px solid #c9c9c9;
}

.loginText {
    border-radius: 1rem;
    text-align: center;
}

input[type=number]{
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    font-size: 1.5em;
    border: 0em;
    width: 2em;
    margin: 0.2em;
}

input:focus{ 
    outline: none;
}

#emailPhone{
    margin-top: -0.2em;
}

.or{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#disclaimer {
    color:grey;
    font-family: "Segoe UI","Helvetica Neue", "Arial";
    font-size: 0.8em;
}

.btn-dark{
    color:white;
    background-color: #1a1a1a;
}

.darkCard{
    width: 500px;
    min-width: 10%;
    max-width: 100%;
    border: 1px solid white;
    background-color: #1a1a1a;
    padding: 16px 20px;
}

.darkCard > .card-title {
    color:rgb(255, 124, 37);
    margin: 0px;
}

.passflareTextGradient{
    background: -webkit-gradient(linear, left top, right top, from(rgba(252,163,18,1) ), to(rgba(255,0,0,1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.darkCardWide{
    background-color: #1a1a1a;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 25rem;
}

.passBtn{
    display:flex;
    padding: 0.6em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: .75rem;
    margin:auto;
    margin-bottom: 0em;
    background-color: #1a1a1a;
    font-size: 14px;
    line-height: 1rem;
}

.passBtnDark{
    display:flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    margin-bottom: 0em;
    width: 200px;
    color: white;
    background-color: #121212;
    border-radius: 0.5em;
    border: 1px solid rgb(255, 124, 37);
}

.passBtnDark-sm{
    display:flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    margin-bottom: 0em;
    width: 100px;
    color: white;
    background-color: #121212;
    border-radius: 0.5em;
    border: 1px solid rgb(255, 124, 37);
    font-size: 12px;
}

.passBtnNext{
    display:flex;
    padding: 0.6em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: .75rem;
    margin-bottom: 0em;
    line-height: 1rem;
    cursor: pointer;
}
.create-account-btn{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}
.create-account-btn:hover{
    color: grey;
}
.eventImg{
    width: 20em;
    height: 20em;
}

.list-group-item {
    background-color: #1a1a1a;
    border-color:#c9c9c9;
}

#userViewBottom{
    margin-bottom: 5rem;
}

.backArrow {
    color: white;
    text-align: left;
}

.backArrow>i:hover{
    color: orange;
}






/*Gatekeeper*/
#gate-keeper-container{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-color: #121212;;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
#ticket-num-form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /*align-items: center;*/
    margin-top: 2vh;
}
#ticket-num-submit{
    font-size: 20px;
    line-height: 1rem;
    background-color: transparent;
    color: grey;
}
#ticket-num-redo{
    font-size: 20px;
    line-height: 1rem;
    background-color: transparent;
    color: grey;
}
#ticket-num-form-redo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /*align-items: center;*/
    margin-top: 2vh;
}

/*Gatekeeper*/
section > section > div{
    box-shadow: none !important;
    border: none !important;
}
/*Graphs*/
.event-graph-container{
    background-color: white;
}
.user-graph-sect-container{
    margin-top: 20%;
}
/*Graphs*/
/*Finance Admin*/
.scroll-box-100{
    width: 85vw;
    height: 80vh;
    background-color: transparent;
    position: absolute;
    top: 12vh;
    left: 7.5vw;
    text-align: center;
    color: white;
    overflow-y: scroll;
    border: 2px solid orange;
}
.transaction-blocks{
    display: block;
    width: 100%;
    border-bottom: 2px solid orange;
    padding: 0px;
    margin: 0px;
}
.transaction-blocks > p{
    display: inline-block;
    padding: 0px 20px 0px 20px;
}
/*Finance Admin*/